<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // var socket = io('http://localhost:3100');
        // socket.on('connect',  function () {
        //     console.log("socket connect");
        // });
        // socket.on('event',  function (data) {
        //     console.log("event");
        // });
        // socket.on('disconnect',  function () {
        //     console.log("disconnect");
        // });
        var socket = io("hulft-js-site-a.herokuapp.com:3100");
        function clicked() {
            socket.emit('chat message', "hogehoge");
        }
        socket.on('chat message', function(data){
                console.log("%s (%s)", data.date, data.message);
            });
    </script>
  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/style.css">
    <title>
        <%= title %>
    </title>
    <% for (var i = 0; i < datas.length; i++) { %>
        <p><%= datas[i] %></p>
    <% } %>
</head>

<body>
    <button onClick="clicked();">send</button>
</body>

</html>