<!DOCTYPE html>
<html lang="ja-JP">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="javascripts/jquery-3.2.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/index.js"></script>
  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>home</title>
</head>

<body>
  <div>
    <div>
      <fieldset>
        <legend>Question</legend>
        <h1 class="subject"></h1>
        <p class="content"></p>
      </fieldset>
      <fieldset>
        <legend>Answer</legend>
        <ul class="case">

        </ul>
      </fieldset>
      <span class="submit">submit</span>
    </div>
    <div class="close">
      In Preparation...</div>
  </div>
</body>
</html>